@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(110, 90, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  min-height: 1100px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left_Side {
  position: relative;
  min-width: 400px;
  background: #643806;
  padding: 40px;
}

.profile-text{
position: relative;
display: flex;
flex-direction: column;
align-items: center ;
padding-bottom: 20px;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.image-box
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    overflow: hidden;
}

.image-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile-text h2 span{
    font-size: 0.8em;
}
.contactInfo{
    padding-top: 40px;
}

.title{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #cc7a1c;
}

.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}
.contactInfo ul li a::after{
content: "";
height: 3px;
width: 0;
background: #cc7a1c;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}

.contactInfo ul li a:hover::after{
    left: 30px;
    width: 80%;
}

.contactInfo.education li{
    margin-bottom: 15px;
}

.contactInfo.education h5{
    color: #cc7a1c;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: #fff;
    font-weight:bold;/*varför funjar inte font weight:500?*/
}
.contactInfo.education h4
{
    color: #fff;
    font-weight: 300;
}

.contactInfo.languages .percent{
position: relative;
width: 100%;
height: 6px;
background: #271603;
display: block;
margin-top: 5px;
}

.contactInfo.languages .percent div{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    background: #cc7a1c;
}

.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
  }

  .about{
      margin-bottom: 50px;
  }
  .about :last-child{
      margin-bottom: 0;
  }

  .title2{
      color: #643806;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
  }
  p{
      color: #333;
  }

  .about .box{
    display: flex;
      flex-direction: row;
      margin: 20px 0;
  }
  .about .box .year_company{
      min-width: 200px;
  }
  .about .box .year_company h5{
      text-transform: uppercase;
      color: #643806;
      font-weight: 600;
  }

  .about .box .text h4{
      text-transform: uppercase;
      color: #cc7a1c;
      font-size:  16px;
  }

  .skills .box{
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 150px 1fr;
      justify-content: center;
      align-items: center;
  }

  .skills .box h4{
      text-transform: uppercase;
      font-weight: 500;
  }

  .skills .box .percent{
      position: relative;
      width: 100%;
      height: 10px;
      background: #ece3d8;
  }

  .skills .box .percent div{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: #cc7a1c;
  }

  .interest ul{
      display: grid;
      grid-template-columns: repeat(5,1fr);
  }

  .interest ul li{
      list-style: none;
      color: #333;
      font-weight: 500;
      margin: 10px 0;
  }

  .interest ul li .fa{
      color: #cc7a1c;
      font-size: 18px;
      width: 20px;
      

  }
